@media screen and (max-width: 850px) {
    
    .demo-card {
        
        .card-aside {
            position: relative;
            transform: translateX(0);
        }
        
    }
    
    #single-aside {
        position: relative;
        top: 0;
        transform: translateX(0);
        flex-direction: row;
    }
    
    
}

@media screen and (max-width: 720px) {
    
    .form-group-inline {
        flex-direction: column;
        
        & > .form-group:first-child, & > .form-group:last-child {
            margin-left: 0;
            margin-right: 0;
        }
    }
    
}

@media screen and (max-width: 670px) {
    
    #home-content {
        #sylvain, #galoustoff {
            font-size: 3rem;
        }
        
    } 
    
}

@media screen and (max-width: 670px) {

    .demo-card {

        .card-footer {
            flex-direction: column;

            button, a.button {
                height: 40px;
                margin: $marge 0;
            }
        }

    }

}

@media screen and (max-width: 490px) {

    h1, .h1 {
        font-size: 3rem
    }

    h2, .h2 {
        font-size: 1.75rem;
    }

    .page h1 {
        margin-bottom: $marge*5;
    }

    .content {
        padding: $marge*5 $marge*2;
    }
    
    header {
        overflow: hidden;
        
        &.open {
            height: 100%;
        }
    }
    
    header a.active:before, header a:before {
        left: -1rem;
    }

    #home-content {
        #sylvain, #galoustoff {
            font-size: 2rem;
        }
    }

    .demo-card {
        flex-direction: column;

        .card-aside {
            flex-direction: row;
        }
    }
    
}

@media screen and (max-width: 410px) {

    .demo-card {

        .card-footer {
            flex-direction: column;

            button, a.button {
                font-size: .85rem;
            }
        }

    }

}