$accent: #E06C6C;
$text: #FFFFFF;
$background: #131313;
$bgCard: #1A1A1A;
$border: #242424;

$marge: 8px;
$borderRadius: 4px;

@mixin dev($color: red, $width: 1px) {
    border: $width solid $color;
}

@mixin trans($time: 300ms) {
    transition: all $time cubic-bezier(.61, .11, .29, .96);
}

$enterTime: .5s;